.user-edit {
	div {
		max-height: 85px;
		box-sizing: border-box;
		margin: 15px;
		padding: 10px;
		border: 2px solid #fc4971;
		overflow-x: hidden
	}

	span {
		margin-right: 30px;
		width: 100px;
		display: inline-block;
	}
}