body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	.main__content {
		background-color: #ecf1f5;
		box-sizing: border-box;
		overflow: auto;
		height: calc(100vh - 132px);
	}
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
	opacity: 0;
}

.container {
	max-width: 1080px;
	padding: 0 15px;
	margin: 0 auto;
}

@media only screen and (max-width: 500px) {
	.settings__user {
		width: 300px;
	}

	.settings__user div {
		width: 270px;
		margin: 15 0;
	}

	.settings__add-user {
		height: auto;
		min-height: 400px;
		width: 300px;
	}

	.settings__add-user div {
		margin: 15px 0px;
	}

	.settings__add-user input {
		width: 270px;
	}

	.header__navigation {
		font-size: 16pt !important
	}

	.settings__add-user>.form__textarea textarea {
		width: 270px;
	}
}

@media only screen and (max-width: 770px) {

	.settings__addUser {
		height: 500px;
		margin-bottom: 30px;
	}
}