.settings {
	position: relative;


	img {
		width: 16px;
		height: 16px;
		position: absolute;
		left: 16px;
	}

	&__inner {
		padding-top: 120px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__user {
		margin: 10px;
		width: 400px;
		height: 400px;
		background-color: white;
		padding: 15px;
		padding-bottom: 60px;
		position: relative;
	}
}

.user-add__title {
	color: #fc4971;
	font-size: 22pt;
	text-align: center;
}

.btn-add {
	right: 0;
	float: right;
	padding: 12px 14px 12px 40px;
	margin-top: 30px;
}

.btn-exit {
	right: 20px;
	bottom: 10px;
}

.btn-delete {
	left: 20px;
	bottom: 10px;
}

.btn-save {
	left: 20px;
	bottom: 10px;
}

.btn-user-add,
.btn-edit {
	right: 20px;
	bottom: 10px;
}

.btn {
	background: #fc4971;
	height: 40px;
	width: 90px;
	position: absolute;
	border: none;
	color: white;
	border-radius: 5px 5px;
	display: block;
}