.settings {
	position: relative;

	&__button {
		background: #fc4971;
		height: 40px;
		width: 90px;
		position: absolute;
		right: 0;
		padding: 12px 14px 12px 40px;
		border: none;
		color: white;
		border-radius: 5px 5px;
		float: right;
		margin-top: 30px;
	}

	img {
		width: 16px;
		height: 16px;
		position: absolute;
		left: 16px;
	}

	&__inner {
		padding-top: 120px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__user {
		margin-right: 35px;
		width: 400px;
		height: 400px;
		background-color: white;
		box-sizing: border-box;
		padding: 15px;
		padding-bottom: 60px;
		position: relative;

		.btn-right {
			background: #fc4971;
			height: 40px;
			width: 90px;
			position: absolute;
			right: 20px;
			bottom: 10px;
			padding: 12px 14px 12px 40px;
			border: none;
			color: white;
			border-radius: 5px 5px;
		}

		.btn-left {
			background: #fc4971;
			height: 40px;
			width: 90px;
			position: absolute;
			left: 20px;
			bottom: 10px;
			padding: 12px 14px 12px 40px;
			border: none;
			color: white;
			border-radius: 5px 5px;
		}

		img {
			width: 16px;
			height: 16px;
			position: absolute;
			left: 16px;
		}

		div {
			max-height: 85px;
			box-sizing: border-box;
			margin: 15px;
			padding: 10px;
			border: 2px solid #fc4971;

		}

		span {
			margin-right: 30px;
			width: 100px;
			display: inline-block;
		}
	}

	&__addUser {
		max-width: 400px;
		height: 400px;
		background-color: white;
		box-sizing: border-box;
		padding: 15px;
		position: relative;

		p {
			margin: 0;
			color: #fc4971;
			font-size: 22pt;
			text-align: center;
		}

		div {
			display: block;
			margin: 15px;

		}

		label {
			width: 60px;
			margin-right: 15px;
			display: inline-block;
		}

		.form__textarea {
			position: relative;

			label {
				top: -10px;
				position: absolute;
			}

			textarea {
				margin-top: 15px;
				height: 100px;
				width: 323px;
				resize: none;
			}
		}

		input {
			width: 250px;
		}

		.settings__add {
			background: #fc4971;
			height: 40px;
			width: 90px;
			position: absolute;
			border: none;
			color: white;
			border-radius: 5px 5px;
			margin: 0 auto;
			display: block;
			right: 20px;
			bottom: 10px;
		}

		.settings__exit {
			background: #fc4971;
			height: 40px;
			width: 90px;
			position: absolute;
			border: none;
			color: white;
			border-radius: 5px 5px;
			margin: 0 auto;
			display: block;
			left: 20px;
			bottom: 10px;
		}
	}

}